html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    /* font-size: 1vw; */
    min-height: 100vh;
}
a{
    text-decoration:none;
}

/*SCROLLBAR*/
body::-webkit-scrollbar{
    display: none;
    overflow : hidden;
    width: 7px;
    background-color: transparent;
    margin-right: 2px;
}
body::-webkit-scrollbar-thumb{
    background-color: #dbdbdb;
    border-radius: 30px;
}

/*DISPLAY*/
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.absolute{
    position: absolute;
}
.rigth{
    text-align: right;
}
/*PRESENTATION*/
.presentation{
    height: auto;
}

/*NAVBAR*/
header{
    padding: 35px 15vw 15px 15vw;
    display: flex;
    justify-content: space-between;
}
.menu h4{
    /* align-items: right; */
    margin-right: 3vw;
}
.menu img{
    margin-left: -25px;
    margin-top: 3px;
    position: fixed;
    width: 30px;
    cursor: pointer;
}


/*HOME*/
.home{
    justify-content: space-between;
    padding: 60px 50vw 50px 15vw;
    align-items: center;
    height: auto;
}
hr{
    margin: -7px;
    border: none;
    height: 1px;
    width: 40vw;
    background: rgb(230, 230, 230);
}
.profile{
    position: absolute;
    border-radius: 10px;
    height: 80vh;
    max-height: 400px;
    min-height: 350px;
    top: 160px;
    right: 15vw;
    box-shadow: 0.0em 0.0em 2em rgba(34, 112, 76, 0.3); 
}
.hi{
    z-index: 950;
    height: auto;
}
.social{
    padding: 20px 0;
}
.social a img{
    width: 23px;
    padding-right: 2vw;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.social a img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.github{
    opacity: 60%;
}
.github:hover{
    opacity: 100%;
}
.marino{
    top: 15vh;
    right: 0px;
    width: 7vw;
}
.gris{
    top: 30vh;
    right: 0px;
    width: 11vw;
}
.rosa{
    top: 20vh;
    left: -35px;
    width: 5vw;
    z-index: 901;
}
.amarillo{
    top: 40vh;
    left: -40px;
    width: 10vw;
    z-index: 900;
}

/*EXPERIENCE*/
.experience{
    /* background-image: url(../img/experience5.jpeg);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px rgba(235, 235, 235, 0.5);
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: justify;
    width: auto;
}
.experience p{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

/*SKILLS*/
.skills{
    padding: 100px 15vw;
    text-align: justify; 
}
.list {
    float:left;
    width: 25%;
    padding: 2% 0px;
    font-size: 16px;
    list-style-position: inside;
}
ul .list::marker {
    color: #209468d8;
    font-size: 25px;
}

/*PROJECTS*/
.container{
    display: flex;
    justify-content: space-between;
    padding: 10% 10%;
}
.colum{
    width: 80vw;
}
.colum h2{
    text-align: right;
    padding: 0 15% 5% 0;
}
.colum img{
    margin: 20px 5vw 20px 5vw;
    width: 29.5vw;
    box-shadow: 0.0em 0.0em 2em rgb(0,0, 0,0.1); 
    border-radius: 10px;
}

/*FOOTER*/
footer{
    background-color: #161616;
    color: rgb(255, 255, 255);
    height: 100vh;
    min-height: 500px;
    padding: 0vh 10vw;
    text-align: justify;
}
footer h2{
    text-align: left;
}
.box{
    padding-top: 25vh;
    height: 70vh;
    max-height: 100vh;
}
.feel{
    height: 60px;
}
.feel a{
    color: white;

}
.email{
    margin-bottom: 60px;
    width: auto;
}
.email a {
    color: rgb(255, 255, 255);
    padding: 1%;
    margin-left: -1%;
}
.email a:hover{
    padding: 1.5% 1%;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
    color: white;
}
.ch{
    display: flex;
    justify-content: space-between;
}
.ch p a{
    color: white;
}
.size{
    width: auto;
    height: 25px;
}
.up{
    text-decoration: none;
    color: white;
}
.up:hover{
    color: white;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
a .inline{
    color: black;
}
.enlace{
    padding-bottom: 2px;
    border-bottom: 2px solid #ffffff00;
}
.enlace:hover{
    border-bottom: 2px solid #ffffff;
}
.enlace-b{
    color: black;
    padding-bottom: 2px;
    border-bottom: 2px solid #ffffff00;
}
.enlace-b:hover{
    border-bottom: 2px solid #000000;
}
.big{
    font-size: 60px;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .profile {
      position: static;
      object-fit: cover;
      width: 50vw;
      height: 50vh;
      max-height: 200px;
      margin: 5vh 25vw 0 25vw;
    }
    .inline-block {
        display: initial;
        width: 100vw;
    }

    header {
        display: initial;
        padding: 30px 10vw 15px 10vw;
    }

    .home {
        padding: 0;
    }

    .social{
        padding-top: 25px;
    }
    .hi{
        padding: 50px 10vw 35px 10vw;
    }
    .hi h1{
        width: auto;
    }
    hr{
        width: 80vw;
        margin-left: 0vw;
    }

    .experience {
        padding: 10px 10vw;
        width: auto;
    }
    /*SKILLS*/
    .skills{
        padding: 100px 10vw;
    }
    .skills ul{
        height: auto;
    }
    .list {
        float: initial;
        width: auto;
        padding-right: 5vw;
    }
}

@media only screen and (max-width: 425px) {
    .presentation{
        height: auto;
    }
    h1{
        font-size: 6vw;
    }
    .profile {
        position: static;
        height: 50vh;
        width: 70vw;
        margin: 30px 15vw;
    }
    .inline-block {
        display: initial;
        width: 100vw;
    }

    header {
        display: initial;
        padding: 30px 10vw 15px 10vw;
    }

    .home {
        display: initial;
    }

    .social{
        padding: 15px 0vw;
    }
    .social a img{
        padding-right: 5%;
        width: 6vw;
    }

    .experience {
        padding: 0 10vw 0vh 10vw;
        margin-top: 0vh;
    }
    /*SKILLS*/
    .skills{
        padding: 100px 10vw;
        height: auto;
    }
    .skills ul{
        height: auto;
    }
    .list {
        float: initial;
        width: auto;
        padding-right: 5vw;
    }
    .colum img{
        margin: 15px 5vw 15px 5vw;
        width: 70vw;
    }

    footer{
        padding: 0 10vw 0 10vw;
        height: 85vh;
    }
    .box{
        padding: 0;
        max-height: 85vh;
        padding-top: 15vh;
    }
    .big{
        font-size: 35px;
    }
}

.none {
    display: none;
}