html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    /* font-size: 1vw; */
}
a{
    text-decoration:none;
}

/*SCROLLBAR*/
body::-webkit-scrollbar{
    display: none;
    overflow : hidden;
    width: 7px;
    background-color: transparent;
    margin-right: 2px;
}
body::-webkit-scrollbar-thumb{
    background-color: #dbdbdb;
    border-radius: 30px;
}

/*DISPLAY*/
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.absolute{
    position: absolute;
}
.rigth{
    text-align: right;
}

/*PRESENTATION*/
.presentation{
    height: 100vh;
}

/*NAVBAR*/
header{
    padding: 5vh 10vw 2vh 10vw;
    display: flex;
    justify-content: space-between;
}
.menu h4{
    /* align-items: right; */
    margin-right: 3vw;
}
.menu img{
    margin-left: -25px;
    margin-top: 3px;
    position: fixed;
    width: 30px;
    cursor: pointer;
}


/*HOME*/
.home{
    display: flex;
    justify-content: space-between;
    padding-left: 12% ;
    padding-right: 11% ;
    align-items: center;
    height: 80vh;
}
hr{
    margin: -7px;
    border: none;
    height: 1px;
    background: rgb(230, 230, 230);
}
.profile{
    position: absolute;
    width: 50vw;
    top: 15vh;
    right: 3vw;
}
.hi{
    z-index: 950;
    margin-top: -30vh;
    height: auto;
    padding-left: 5%;
}
.social{
    padding-top: 10%;
}
.social img{
    width: 28px;
    padding-right: 10%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.social img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.github{
    opacity: 60%;
}
.github:hover{
    opacity: 100%;
}
.marino{
    top: 15vh;
    right: 0px;
    width: 7vw;
}
.gris{
    top: 30vh;
    right: 0px;
    width: 11vw;
}
.rosa{
    top: 20vh;
    left: -35px;
    width: 5vw;
    z-index: 901;
}
.amarillo{
    top: 40vh;
    left: -40px;
    width: 10vw;
    z-index: 900;
}

/*EXPERIENCE*/
.experience{
    /* background-image: url(../img/experience5.jpeg);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px rgba(235, 235, 235, 0.5);
    background-repeat: no-repeat;
    background-size: cover; */
    margin-top: -40vh;
    padding: 0 50vw 5vw 15vw;
    text-align: justify;
}
.experience p{
    color: rgb(87, 87, 87);
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

/*SKILLS*/
.skills{
    padding: 20vh 15vw;
}
.list {
    float:left;
    width: 25%;
    padding: 2% 0px;
    font-size: 16px;
    list-style-position: inside;
}
ul .list::marker {
    color: #ffb341d8;
    font-size: 25px;
}

/*PROJECTS*/
.container{
    display: flex;
    justify-content: space-between;
    padding: 10% 10%;
}
.colum{
    width: 80vw;
}
.colum h2{
    text-align: right;
    padding: 0 15% 5% 0;
}
.colum img{
    margin: 2.5vh 5vw 2.5vh 5vw;
    width: 29.5vw;
    box-shadow: 0.0em 0.0em 2em rgb(0,0, 0,0.1); 
    border-radius: 10px;
}

/*FOOTER*/
footer{
    background-color: #f8f8f8;
    color: rgb(66, 66, 66);
    height: 75vh;
    padding: 0vh 10vw;
}
.box{
    padding: 10vh 8vw;
}
.feel{
    height: 15vh;
}
.email{
    margin-bottom: 15vh;
    width: auto;
}
.email a {
    color: rgb(43, 43, 43);
    padding: 1%;
    margin-left: -1%;
}
.email a:hover{
    padding: 1.5% 1%;
    border-radius: 5px;
    background-color: rgb(34, 34, 34);
    color: white;
}
.ch{
    display: flex;
    justify-content: space-between;
}
.size{
    width: auto;
    height: 25px;
}
.up{
    height: 20px;  
    padding: 1vw;
    /* margin-top: 5vh; */
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 100%;
}
.up:hover{
    background-color: white;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

@media only screen and (max-height: 450px) {
    .box{
        padding: 5vh;
    }
}

@media only screen and (max-width: 350px) {
    .menu img{
        width: 7vw;
    }
}

@media only screen and (max-width: 450px) {
    body{
        margin: 0;
        font-size: 4vw;
    }
    h2 {
        font-family: montserrat-bold;
        font-size: 6.3vw;
    }
    h3 {
        font-family: montserrat-bold;
        font-size: 5vw;
    }
    h4 {
        font-family: montserrat-bold;
        /* font-size: 1.2vw; */
    }    

}
@media only screen and (max-width: 765px) {
    .menu h4{
        margin-right: 25px;
    }
    .profile{
        width: 80vw;
        height: 35vh;
        margin-top: 5vh;
    }
    .home{
        padding: 0;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .social{
        display: flex;
        justify-content: space-between;
        padding: 10vw;
    }
    .social img{
        padding-right: 0;
    }
    .home .hi{
      margin-top: 10vh;
    }
    /*EXPERIENCE*/
    .experience {
      padding: 20vw 5vw;
    }

    /*SKILLS*/
    .skills {
      padding: 8vh 5vw;
    }
    /*PROJECTS*/
    .container {
      display: block;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 20vw 0vw;
    }
    .colum img{
        width: 100vw;
    }

    .project2{
      display: none;
    }

    /*FOOTER*/
    footer{
        padding: 0px 5vw;
    }

}
/* @media only screen and (min-width: 601px ) and (max-width: 768px ) {
    .project2 {
        display: none;
    }
    .container {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20vw 0vw;
    }
    .colum img{
        margin: 5vw 20vw;
    }
} */
@media only screen and (min-width: 769px) {
    .project1 {
      display: none;
    }
}


.none {
    display: none;
}