.red{background-color: tomato;}
.blue{background-color: aqua;}
.green{background-color: green;}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    /* font-size: 1vw; */
}
h2 {
    font-family: montserrat-bold;
    /* font-size: 1.6vw; */
}
h3 {
    font-family: montserrat-bold;
    /* font-size: 1.4vw; */
}
h4 {
    font-family: montserrat-bold;
    /* font-size: 1.2vw; */
}
.h4 {
    font-family: montserrat-bold;
    /* font-size: 1.2vw; */
}

hr{
    margin: -7px;
    border: none;
    height: 1px;
    background: rgb(230, 230, 230);
}

/*FONTS*/
@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}
* {
    font-family: montserrat;
    -webkit-transition: .4s; /* Safari y Chrome */
    -moz-transition: .4s; /* Firefox */
    -o-transition: .4s; /* IE 9 */
    -ms-transition: .4s; /* Opera */
    
}

/*SCROLLBAR*/
body::-webkit-scrollbar{
    display: none;
    overflow : hidden;
    width: 7px;
    background-color: transparent;
    margin-right: 2px;
}
body::-webkit-scrollbar-thumb{
    background-color: #dbdbdb;
    border-radius: 30px;

}

/*DISPLAY*/
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}

/*PRESENTATION*/
.presentation{
    height: 90vh;
}

/*NAVBAR*/
header{
    padding: 5vh 10vw 2vh 10vw;
    display: flex;
    justify-content: space-between;
}
.menu h4{
    /* align-items: right; */
    margin-right: 3vw;
}
.menu img{
    margin-left: -25px;
    margin-top: 3px;
    position: fixed;
    width: 30px;
    cursor: pointer;
}

/*HOME*/
.home{
    display: flex;
    justify-content: space-between;
    padding: 0% 20%;
    align-items: center;
    height: 80vh;
}
.profile{
    width: 25vw;
}
.hi{
    height: auto;
}
.social{
    padding-top: 10%;
}
.social img{
    width: 28px;
    padding-right: 10%;
}

/*EXPERIENCE*/
.experience{
    background-image: url(../img/experience.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vw 20vw;
}
.experience p{
    color: white;
}

/*SKILLS*/
.skills{
    padding: 20vh 20vw;
}

/*PROJECTS*/
.container{
    display: flex;
    justify-content: space-between;
    padding: 10% 15vw;
}

.colum img{
    width: 300px;
    margin-bottom: 15%;
    /* box-shadow: 0.0em 0.0em 2em rgb(0,0, 0,0.1); */
    border-radius: 25px;
}
.colum h2{
    text-align: right;
    padding-right: 10%;
    padding-bottom: 15%;
}

/*FOOTER*/
footer{
    background-color: black;
    color: white;
    height: 100vh;
    padding: 0vh 10vw;
}
.box{
    height: 70vh;
    padding: 15vh 8vw;
}
.feel{
    height: 15vh;
}
.email{
    height: 15vh;
}
.ch{
    display: flex;
    justify-content: space-between;
}
.rigth{
    text-align: right;
}
.size{
    width: auto;
    height: 25px;
}
.up{
    height: 20px;  
    padding: 1vw;
    /* margin-top: 5vh; */
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 100%;
}
.up:hover{
    background-color: white;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

@media only screen and (max-height: 450px) {
    .box{
        padding: 5vh;
    }
}

@media only screen and (max-width: 350px) {
    .menu img{
        width: 7vw;
    }
}

@media only screen and (max-width: 450px) {
    body{
        margin: 0;
        font-size: 4vw;
    }
    h2 {
        font-family: montserrat-bold;
        font-size: 6.3vw;
    }
    h3 {
        font-family: montserrat-bold;
        font-size: 5vw;
    }
    h4 {
        font-family: montserrat-bold;
        /* font-size: 1.2vw; */
    }    

}
@media only screen and (max-width: 765px) {
    .menu h4{
        margin-right: 25px;
    }
    .profile{
        width: 80vw;
        height: 35vh;
        margin-top: 5vh;
    }
    .home{
        padding: 0;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .social{
        display: flex;
        justify-content: space-between;
        padding: 10vw;
    }
    .social img{
        padding-right: 0;
    }
    .home .hi{
      margin-top: 10vh;
    }
    /*EXPERIENCE*/
    .experience {
      padding: 20vw 5vw;
    }

    /*SKILLS*/
    .skills {
      padding: 8vh 5vw;
    }
    /*PROJECTS*/
    .container {
      display: block;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 20vw 0vw;
    }
    .colum img{
        width: 100vw;
    }

    .project2{
      display: none;
    }

    /*FOOTER*/
    footer{
        padding: 0px 5vw;
    }

}
/* @media only screen and (min-width: 601px ) and (max-width: 768px ) {
    .project2 {
        display: none;
    }
    .container {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20vw 0vw;
    }
    .colum img{
        margin: 5vw 20vw;
    }
} */
@media only screen and (min-width: 769px) {
    .project1 {
      display: none;
    }
}
